.logo {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 20px;
}

.login-container {
  width: 100%;
  height: 100%;
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-item {
  width: 70%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  background-color: var(--white-color);
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.login-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
  padding-inline: 0 15px;
}

.login-title {
  margin-bottom: 25px;
}

.login-title h1 {
  margin-bottom: 8px;
}

.login-left form {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.input-login {
  margin-bottom: 15px;
}

.login-right {
  width: 50%;
  height: 100%;
  background-image: url("./assets/images/background/bg_1-min.webp");
  background-size: cover;
  background-position: center;
}

.forgot-password {
  text-align: right;
  margin-bottom: 20px;
}

.forgot-password a {
  color: var(--black-color);
  transition: var(--main-transition);
}

.forgot-password a:hover {
  color: var(--main-color);
}

@media (max-width: 1000px) {
  .login-item {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 700px) {
  .login-right {
    display: none;
  }

  .login-left {
    width: 100%;
    padding: 0;
  }

  .login-left form {
    width: 90%;
  }
}